<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="true"
         bootstrap="./vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Getopt Test Suite">
            <file>./tests/src/Yeriomin/Getopt/OptionDefinitionTest.php</file>
            <file>./tests/src/Yeriomin/Getopt/UsageProviderTest.php</file>
            <file>./tests/src/Yeriomin/Getopt/ParserTest.php</file>
            <file>./tests/src/Yeriomin/Getopt/GetoptTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
